{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div id="breadcrumb" class="breadcrumb">
  <div class="breadcrumb-detail clearfix">
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a itemprop="url" href="/" class="homepage-link">
        <span itemprop="title" class="hide">{{ langify_shop_name | escape }}</span>
        {{ 'general.breadcrumbs.home' | t }} 
      </a>
    </span>
    {% if template contains "product" %}
    {% if collection %}            
    <i class="fa fa-angle-right"></i>
    {% if collection.handle %}
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="hide">
      <a href="{{collection.url}}" itemprop="url">
        <span itemprop="title">{% comment %}ly_code_replace_for_[ collection.title ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span>
      </a>
    </span>
    {% comment %}ly_code_replace_for_[ collection.title | link_to: collection.url ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation | link_to: collection.url }}{% comment %}ly_code_replace_end{% endcomment %}
    {% endif %}
    {% else %}
    <i class="fa fa-angle-right"></i>
    {{ product.type | link_to_type }}
    {% endif %}
    <i class="fa fa-angle-right"></i>
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="hide">
      <a href="{{product.url}}" itemprop="url">
        <span itemprop="title">{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span>
      </a>
    </span>
    <span class="page-name">{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span>
    {% elsif template contains "blog" %}
    {% if current_tags.size > 0 %}
    <i class="fa fa-angle-right"></i>
    {% comment %}ly_code_replace_for_[ blog.title | link_to: blog.url ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation | link_to: blog.url }}{% comment %}ly_code_replace_end{% endcomment %}
    <i class="fa fa-angle-right"></i>
    <span class="page-name">
      {% for tag in current_tags %}
      {% if forloop.index > 1 %} + {% endif %}{{ tag }}
      {% endfor %}
    </span>
    {% elsif blog.handle %}
    <i class="fa fa-angle-right"></i>
    <span class="page-name">{% comment %}ly_code_replace_for_[ blog.title ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span>
    {% else %}
    <i class="fa fa-angle-right"></i>
    <span class="page-name">{{ langify_title }}</span>
    {% endif %}
    {% elsif template == "article" %}
    <i class="fa fa-angle-right"></i>
    {% comment %}ly_code_replace_for_[ blog.title | link_to: blog.url ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation | link_to: blog.url }}{% comment %}ly_code_replace_end{% endcomment %}
    <i class="fa fa-angle-right"></i>
    <span class="page-name">{% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span>
    {% elsif template == "collection" or template contains "collection." %}
    {% if current_tags.size > 0 %}
    <i class="fa fa-angle-right"></i>
    {% comment %}ly_code_replace_for_[ collection.title | link_to: collection.url ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation | link_to: collection.url }}{% comment %}ly_code_replace_end{% endcomment %}
    <i class="fa fa-angle-right"></i>
    <span class="page-name">
      {% for tag in current_tags %}
      {% if forloop.index > 1 %} + {% endif %}
      {% if settings.collection_sidebar_filters == 'groups' %}
      {% if tag contains '_' %}
      {% capture cat %}{% assign cat_grp = tag | split: '_' %}{{ cat_grp.first }}{% endcapture %}
      {{cat | capitalize}}: {{ tag | remove_first: cat | remove: '_' }}
      {% else %}
      {{ tag }}
      {% endif %}
      {% else %}
      {{ tag }}
      {% endif %}
      {% endfor %}
    </span>
    {% elsif collection.handle %}
    <i class="fa fa-angle-right"></i>
    <span class="page-name">{% comment %}ly_code_replace_for_[ collection.title ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span>
    {% else %}
    <i class="fa fa-angle-right"></i>
    <span class="page-name">{{ langify_title }}</span>
    {% endif %}
    {% else %}
    <i class="fa fa-angle-right"></i>
    <span class="page-name">{{ langify_title }}</span>
    {% endif %}
  </div>
</div>