{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if settings.wrapper_style == 'style1' %}
<div class="product style1">
  <div class="product-container">
    <div class="product-buttons">
      <div class="sharing-ctl other">
        <a href="javascript:void(0);">
          <i class="zmdi zmdi-share"></i>
        </a>
        {% include 'social-sharing' %}
      </div>
    </div>

    <div class="product-wrap">
      <div class="product-image">
        <div class="wrap">
          <a href="{{product.url}}">
            <img src="{% comment %}ly_asset_replace_for_['No_Image.png' | asset_url]_begin{% endcomment %}{% assign ly_asset = 'No_Image.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" alt="{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}" />
          </a>
        </div>
      </div>

      <div class="product-content">
        <div class="product-inner">
          <div class="product-title">
            <a href="{{ product.url }}" title="{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}">
              {% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
            </a>
          </div>
        </div>
        <div class="product-action">
          <a href="{{product.url}}" class="btn btn-1 btn-block">{{'products.product.show_details' | t}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="product style2">
  <div class="product-container">
    <div class="product-buttons">
      <div class="sharing-ctl other">
        <a href="javascript:void(0);">
          <i class="zmdi zmdi-share"></i>
        </a>
        {% include 'social-sharing' %}
      </div>
    </div>

    <div class="product-wrap">
      <div class="product-image">
        <div class="wrap">
          <a href="{{product.url}}">
            <img src="{% comment %}ly_asset_replace_for_['No_Image.png' | asset_url]_begin{% endcomment %}{% assign ly_asset = 'No_Image.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" alt="{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}" />
          </a>
        </div>
      </div>

      <div class="product-content">
        <div class="product-inner">
          <div class="product-title">
            <a href="{{ product.url }}" title="{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}">
              {% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
            </a>
          </div>
        </div>
        <div class="product-action other">
          <span class="line"></span>
          <a href="{{product.url}}" class="btn-details"><i class="zmdi zmdi-format-list-bulleted"></i> {{'products.product.show_details' | t}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}